* {
  font-family: 'Dosis', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", cursive;
  font-weight: normal;
  letter-spacing: 3px;
  color: #232323;
}
a {
  text-decoration: none;
}
body {
  background-color: #f8f8f8;
  padding-bottom: 130px;
}
.name {
  font-family: 'Dosis', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", cursive;
  font-weight: normal;
  color: #222222;
  letter-spacing: 3px;
  font-size: 30px;
  text-align: center;
  margin-top: 130px;
  margin-bottom: 6px;

}

.job {
  font-family: 'Dosis', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", cursive;
  font-weight: normal;
  text-align: center;
  font-size: 14px;
  margin: 4px;
}

.works {
  margin-top: 130px;
}

.works > .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.work {
  width: 200px;
  height: 160px;
  text-align: center;
  margin: 0 30px 30px 0;
  position: relative;
  background: #000;
}

@media screen and (max-width: 700px) {
  .work {
    width: 90vw!important;
    height: 60vw!important;
    margin-left: 0!important;
    margin-right: 0!important;
  }
}

.work:nth-child(3n+3) {
  margin-right: 0;
}

.work img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.work:hover img {
  opacity: 0.2;
}

.work:hover .work-detail {
  display:inline;
}

.work-detail {
  position: absolute;
  display:none;
  top: 0;
  left: 0;
  padding: 3px;
  font-size: 12px;
  color: white;
  text-align: center;
  width: 100%;
}

.work-title {
  font-size: 16px;
  font-weight: bold;
  color: white;
}


.profile-section {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 130px;
}

.profile-section > p {
  font-size: 17px;
  margin: 3px;
  line-height: 30px;
}

.profile-title {
  margin-top: 40px!important;
  font-weight: bold;
}
