
.chat {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #BCE;
  padding-top: 20px;
  padding-bottom: 20px;
}

.message {
  display: flex;
  margin-bottom: 10px;
}

.message-icon {
  width: 34px;
  height: 34px;
  border-radius: 17px;
  margin-left: 5px;
  margin-right: 5px;
}

.message-text {
  background-color: #00B900;
  color: black;
  border-radius: 10px;
  line-height: 25px;
  padding: 5px;
}

.my-message {
  display: flex;
  margin-bottom: 10px;
  justify-content: right;
}

.my-message .message-text {
  background-color: white;
  color: black;
  border-radius: 10px;
  line-height: 25px;
  padding: 5px;
}

.center {
  text-align: center;
}

.title {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0,0,0,0.3);
  font-size: 18px;
  color: #DDD;
  height: 30px;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  
}
